/* Etch a Sketch CSS File */

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    background-color: rgb(207, 207, 207);
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 100vh;
    gap: 1px;
    background-color: #fff;
}

.container-item {
    aspect-ratio: 1 / 1;
}

#btn {
    border: none;
    background-color:#04AA6D;
    color: black;
    padding: 16px 32px;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: fit-content;
    align-self: center;
}
.button:hover {
    background-color: green;
}